@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 400ms linear !important;
}

:root {
    /* colors */
    --color-white: #FFFFFF;
    --primary-color: #031227;
    --timeline-dot-color: #009DFF;
    /* font-family */
    --fm: "Poppins", sans-serif;

    /* style */

    --font-style: italic;

    /* font weight */
    --fw-400: 400;
    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-900: 900;

    /* font-size */
    --fs-16: 16px;
    --fs-21: 21px;
    --fs-25: 25px;

    --fs-14: 14px;
    --fs-64: 64px;
    --fs-18: 18px;

    --fs-45: 45px;
    --fs-54: 54px;
    --fs-70: 70px;

    --fs-24: 24px;
    --fs-36: 36px;
    --fs-20: 20px;

    --fs-30: 30px;
    --fs-40: 40px;
    --fs-50: 50px;

    --fs-32: 32px;
    --fs-80: 80px;
    --fs-48: 48px;
    --fs-72: 72px;
    --fs-100: 100px;
    --fs-157: 157px;


    /* lh */
    --lh-54: 54px;
    --lh-49: 49px;
    --lh-19: 19px;

    --lh-40: 40px;
    --lh-30: 30px;
    --lh-32: 32px;

    --lh-26: 26px;
    --lh-20: 20px;
    --lh-21: 21px;
    --lh-62: 62px;
    --lh-41: 41px;
    --lh-45: 45px;
    --lh-72: 72px;

    --lh-96: 96px;
    --lh-39: 39px;
    --lh-36: 36px;

    --lh-68: 68px;
    --lh-27: 27px;
    --lh-83: 83px;

    --lh-86: 86px;
    --lh-100: 100px;
    --lh-28: 28px;

    --lh-29: 29px;
    --lh-188: 188px;
}

.fm {
    font-family: var(--fm);
}

.font-style {
    font-style: var(--font-style);
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-300 {
    font-weight: var(--fw-300);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fw-700 {
    font-weight: var(--fw-700);
}

.fw-900 {
    font-weight: var(--fw-900);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-21 {
    font-size: var(--fs-21);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-54 {
    font-size: var(--fs-54);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-80 {
    font-size: var(--fs-80);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-45 {
    font-size: var(--fs-45);
}

.fs-54 {
    font-size: var(--fs-54);
}

.fs-70 {
    font-size: var(--fs-70);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-50 {
    font-size: var(--fs-50);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-72 {
    font-size: var(--fs-72);
}

.fs-100 {
    font-size: var(--fs-100);
}

.fs-157 {
    font-size: var(--fs-157);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-49 {
    line-height: var(--lh-49);
}

.lh-19 {
    line-height: var(--lh-19);
}

.lh-90 {
    line-height: var(--lh-90);
}

.lh-30 {
    line-height: var(--lh-30);
}

.lh-26 {
    line-height: var(--lh-26);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-41 {
    line-height: var(--lh-41);
}

.lh-45 {
    line-height: var(--lh-45);
}

.lh-68 {
    line-height: var(--lh-68);
}

.lh-30 {
    line-height: var(--lh-30);
}

.lh-32 {
    line-height: var(--lh-32);
}

.lh-21 {
    line-height: var(--lh-21);
}

.lh-62 {
    line-height: var(--lh-62);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-39 {
    line-height: var(--lh-39);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-36 {
    line-height: var(--lh-36);
}

.lh-96 {
    line-height: var(--lh-96);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-83 {
    line-height: var(--lh-83);
}

.lh-100 {
    line-height: var(--lh-100);
}

.lh-86 {
    line-height: var(--lh-86);
}

.lh-28 {
    line-height: var(--lh-28);
}

.lh-188 {
    line-height: var(--lh-188);
}

.lh-29 {
    line-height: var(--lh-29);
}

.text_color {
    color: var(--color-white);
}

.back_color {
    background-color: var(--color-white);
}

.back_img {
    background-image: url(../images/png/Buddy\ Bullies\ \(Home\ page\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navBar {
    background-color: transparent;
}

.background_img {
    background-image: url(../images/png/hero_section_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pt_26 {
    padding-top: 26px;
}

.text_w_h {
    max-width: 547px;
    min-height: 123px;
    opacity: 0.7;
}

.px_40 {
    padding-left: 40px;
    padding-right: 40px;
}

.brdr_rad_45 {
    border-radius: 45px;
}

.border_none {
    border: none;
}

.pt_27 {
    padding-top: 27px;
}

.hover_effect::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--color-white);
    bottom: 0;
    left: 0;
    transition: all 400ms linear;
}

.hover_effect:hover::after {
    width: 100%;
}

p {
    margin: 0;
}

.py_10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.px_20 {
    padding-right: 20px;
    padding-left: 20px;
}

.gap_23px {
    gap: 23px;
}

.max_width_height {
    max-width: 338px;
}

.pb_21 {
    padding-bottom: 21px;
}

.pb_63 {
    padding-bottom: 63px;
}

.pt_52 {
    padding-top: 52px;
}

.mt_97 {
    margin-top: 97px;
}

.pt_44 {
    padding-top: 44px;
}

.brdr_rad_20 {
    border-radius: 20px;
}

.pt_131 {
    padding-top: 131px;
}

.pb_25 {
    padding-bottom: 25px;
}

.padding_change_1 {
    padding: 39px 39px 156px 40px;
}

.padding_change_2 {
    padding: 39px 39px 78px 40px;
}

.padding_change_3 {
    padding: 39px 39px 124px 40px;
}

.padding_change_4 {
    padding: 39px 39px 24px 40px;
}

.back_clr_card_section {
    background-color: var(--primary-color);
}

.mt_41 {
    margin-top: 41px;
}

.back_img_join {
    background-image: url(../images/png/join_us_section_img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pt_141 {
    padding-top: 141px;
}

.lorem {
    max-width: 786px;
    min-height: 135px;
}

.pt_110px {
    padding-top: 110px;
}

.pb_10px {
    padding-bottom: 10px;
}

.accord_back_clr {
    background-color: var(--primary-color);
}

.pt_212 {
    padding-top: 212px;
}

.pb_47px {
    padding-bottom: 47px;
}

.pt_32px {
    padding-top: 32px;
}

.padding_adjust {
    padding: 20px 32px 20px 32px;
    border-radius: 150px;
}

.w_h_adjust {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-white);
    border: 1px soliod var(--primary-color);
}

.w_h_adjust:hover {
    background-color: transparent;
    border: 1px solid white;
}

.d_none {
    display: none;
}

.w_h_adjust:hover svg path {
    fill: white;
}

.padding_adjust_1 {
    padding: 0px 32px 20px 32px;
    border-radius: 150px;
}

.pos_adjust {
    right: 20px;
    bottom: 20px;
}

.hover_it {
    border: 1px solid var(--color-white);
}

.text_black {
    color: var(--primary-color);
}

.hover_footer_item:hover {
    -webkit-text-stroke: medium;
    cursor: pointer;
}

.card_hover:hover {
    transition: all 400ms linear;
    box-shadow: 0px 0px 50px -3px #ffffff7c;
}

.card_hover:hover div img {
    transition: all 400ms linear;
    transform: scale(1.2);
}

.cursor {
    cursor: pointer;
}

.svg_hover:hover {
    transition: all 400ms linear;
    transform: scale(0.8);
}

.svg_hover:hover path {
    -webkit-text-stroke: thick;
    fill: var(--timeline-dot-color);
}

.hover_it:hover {
    background-color: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

.px_30px {
    padding-right: 30px;
    padding-left: 30px;
}

.disp_text {
    display: none;
}

/* .wrap {
    width: 100%;
}
/* text linear gradient */

/* .gradient-text {
    background: linear-gradient(to right, crimson, pink, springgreen);
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    text-align: center;
    transition: color .2s ease-in-out;
}

.gradient-text:hover {
    color: rgba(0, 0, 0, 0);
}

@keyframes rainbow {
    0% {
        background-position: left
    }

    50% {
        background-position: right
    }

    100% {
        background-position: left
    }
} */

/* Timeline */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    /* min-height: 100vh; */
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: transparent;
    top: 20px;
    bottom: -270px;
    left: 50%;
    margin-left: -2px;
    border-left: 3.23px dashed white;
}

h2.fm.fw-600.fs-30.lh-45.text_color {
    padding: 0px 0px 24px 0px;
}

.mb_146 {
    margin-bottom: 146px;
}

.gap_13px {
    gap: 13px;
}

.pb_164px {
    padding-bottom: 164px;
}

.mb_212 {
    margin-bottom: 212px;
}

/* Container around content */
.containers {
    padding: 0px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.containers::after {
    content: '';
    position: absolute;
    width: 43px;
    height: 43px;
    right: -17px;
    background-color: var(--timeline-dot-color);
    border: 3.23px solid var(--color-white);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.containers.left::before {
    content: "";
    position: absolute;
    width: 64px;
    height: 64px;
    background: rgba(0, 157, 255, 0.1);
    right: -31px;
    border-radius: 50%;
    top: 4px;
}

.containers.right::before {
    content: "";
    position: absolute;
    width: 64px;
    height: 64px;
    background: rgba(0, 157, 255, 0.1);
    left: -32px;
    border-radius: 50%;
    top: 4px;
}

::-webkit-scrollbar {
    display: none;
}

.stroke:hover {
    -webkit-text-stroke: medium;
}

.pb-63 {
    padding-bottom: 63px;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}



/* Fix the circle for containers on the right side */
.right::after {
    left: -21px;
}

.left::after {
    right: -21px;
}

/* The actual content */
.content {
    /* padding: 20px 30px; */
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 992px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .containers {
        width: 100%;
        padding-left: 70px;
        padding-right: 0px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .containers::before {
        left: 60px;
        /* border: medium solid white; */
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 10px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }

    /* .content_end.mb_212 {
        padding: 0 0 0 42px;
    } */
    .p_adjust {
        padding: 20px 0px 24px !important;
    }

    .containers.left::before {
        content: "";
        position: absolute;
        width: 64px;
        height: 64px;
        background: rgba(0, 157, 255, 0.1);
        left: 0;
        border-radius: 50%;
        top: 4px;
    }

    .containers.right::before {
        content: "";
        position: absolute;
        width: 64px;
        height: 64px;
        background: rgba(0, 157, 255, 0.1);
        left: 0;
        border-radius: 50%;
        top: 4px;
    }
}

/* end */
@media (max-width: 991.9px) {
    .max-lg-view {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        background-image: url(../images/png/Buddy\ Bullies\ \(Home\ page\).png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        gap: 20px;
        justify-content: center;
        z-index: 4;
        flex-direction: column;
        transition: all 400ms linear;
    }

    .gap_20_max {
        gap: 20px;
    }

    label[for="menuicon"] {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        z-index: 5;
        position: absolute;
        right: 20px;
    }

    label[for="menuicon"] span {
        width: 100%;
        height: 3px;
        background-color: var(--color-white);
    }

    .d_max_prop {
        flex-direction: column;
    }

    .show {
        left: 0;
    }

    /* input:checked~div .max-lg-view {
        left: 0;
    } */

    .pt_70px {
        padding-top: 70px;
    }

    .mt_70px {
        margin-top: 70px;
    }

    .pb_70px {
        padding-bottom: 70px;
    }
}

@media (min-width: 992px) {
    .gap-80 {
        gap: 80px;
    }
}

@media (min-width: 992.9px) {
    .containers.right {
        padding: 0 0 0 42px;
    }

    .containers.left {
        padding: 0 42px 0 0;
    }

    .right .content {
        padding: 0 0 0 42px;
    }

    .h_lg_356px {
        height: 356px;
    }

    .content_end {
        text-align: end;
    }

    .content_end.mb_212 {
        padding: 20px 0px;
    }

    .containers.right {
        padding: 20px 0px;
    }
}

@media (max-width: 576px) {

    .lh_60 {
        line-height: var(--lh-62);
    }

    .fs_50 {
        font-size: var(--fs-50);
    }

    .fs_16 {
        font-size: var(--fs-16);
    }

    .px_30px_max {
        padding-right: 30px;
        padding-left: 30px;
    }

    .fs_30 {
        font-size: var(--fs-30);
    }

    .fs_24 {
        font-size: var(--fs-24);
    }

    div.padding_change_1.back_clr_card_section.w-100.h-100.brdr_rad_20 {
        padding: 20px 20px 156px 20px;
    }

    div.padding_change_2.back_clr_card_section.w-100.h-100.brdr_rad_20 {
        padding: 20px 20px 78px 20px;
    }

    div.padding_change_3.back_clr_card_section.w-100.h-100.brdr_rad_20 {
        padding: 20px 20px 124px 20px;
    }

    div.padding_change_4.back_clr_card_section.w-100.h-100.brdr_rad_20 {
        padding: 20px 20px 34px 20px;
    }

    .random_text {
        font-size: var(--fs-24);
        line-height: var(--lh-36);
    }

    .fl_changes_sm_head {
        font-size: var(--fs-16);
        line-height: var(--lh-20);
    }

    .fl_changes_sm_body {
        font-size: var(--fs-14);
        line-height: var(--lh-19);
    }

    .padding_adjust {
        padding: 20px 10px 20px 10px;
        border-radius: 150px;
    }

    .padding_adjust_1 {
        padding: 0px 10px 20px 10px;
        border-radius: 150px;
    }
}